CLOCKROUTER_API_TOKEN=replace-with-at-least-16-random-characters
CLOCKROUTER_ALLOWED_PROJECTS=private
CLOCKROUTER_CONFIG_DIR=config
CLOCKROUTER_REQUEST_TIMEOUT_SECONDS=120
CLOCKROUTER_MAX_REQUEST_BYTES=1048576
CLOCKROUTER_MAX_OUTPUT_TOKENS=32768
